<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/todo_hib_db
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.connection.password">
            postgres
        </property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="hibernate.show_sql">true</property>

        <!-- IMPORTANT -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Mapping file -->
        <mapping resource="hbm/Todo.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
